@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --linear-gradient-1: #0091ff;
  --linear-gradient-2: #f6285f;
  --linear-gradient-3: #f6ff00;
  --shadow: steelblue;
}
body {
  font-family: "Roboto", sans-serif;
  background: url('/static/svg/Bubble-Background.svg') fixed center center;
  background-size: cover;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#number {
  font-family: "Roboto", sans-serif;
  font-size: 15vw;
  background-image: linear-gradient(150deg, var(--linear-gradient-1), var(--linear-gradient-2), var(--linear-gradient-3));
  filter: drop-shadow(5px 5px var(--shadow));

  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#text {
  color: wheat;
  font-size: 2.5vw;
  padding: 3vh 3vw;
  font-size: 6vw;
  font-weight: 350;
  align-self: center;
  margin-top: -5vh;
}