@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Ubuntu&display=swap');


:root {
    --outer: #2e353f;
    --inner: #363b59;
    --btn-bg: #f06a73;
    --light-grey: #3e4363;
    --glow: #23c9d5;
    --ubuntu: 'Ubuntu', sans-serif;
    --nova-round: 'Nova Round', cursive;
    
}

body {
    background: var(--outer);
    font-family: var(--ubuntu);
}

#content {
    position: relative;
    margin: 17vh 3vw;
    color: white;;
    background: var(--inner);
    border: var(--glow) solid 2px;
    box-shadow: var(--glow) 0 0 15px;
    padding: 3vh 3vw;
}

.common-container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: var(--nova-round);
    font-size: xx-large;
    display: flex;
    margin: 5vh 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 1vw;
}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: fit-content;
    padding: 27px 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 35vhw;
    height: 56vh;
    padding: 0 10px
}

.text-container {
    font-size: 1.3em;
    padding: 7vh;
    align-self: center;
    margin: auto;
    max-width: 53vw;
    background: var(--light-grey);
    border-radius: 10px;
    box-shadow: #4b5e95 2vh 2vh 0 0;   
}

.text-header {
    font-size: 1.5em;
    margin-bottom: 1.3em;
}

.text-body {
    font-size: 1.1em;
    margin-bottom: 1.3em;
    padding: 1vh 0;
}

.btn {
    padding: 1vh 1vw;
    font-size: 1.3em;
    border: none;
    border-radius: 0.7em;
    background: var(--btn-bg);
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: var(--glow);
    color: white;
    transition-timing-function: ease-in;
    transition: .5s;
}