@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --bg: #363b59;
  --inner: #2e353f;
  --text-font: "Ubuntu Mono", monospace;
	--special: 'Kanit', sans-serif;
  --shadow: #00000080;
	--gradient-left: indianred; 
	--gradient-right: teal;
}

body {
  background: var(--bg);
  color: white;
  font-family: var(--text-font);
}

.super-container {
	margin: 100px;
}

.main-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-container {
	background: red;
}
.content-container {
	background: var(--inner);
  padding: 3vh 3vw;
  border-radius: 10px;
  box-shadow: var(--shadow) 0 0 15px;
}

.content-header {
  font-family: var(--text-font);
  font-size: 1em;
  margin: 0.7em 0;
}

.content-body {
  font-size: 1.3rem;
  margin: 2rem auto;
  font-family: var(--text-font);
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
}


.col {
  display: flex;
  flex-direction: column;
}

.form-control {
  background: var(--dark-grey);
  border: none;
  color: gold;
	font-size: 1.3rem;
	outline: none;
}

#task-description {
	width: 100%;
	resize: none;
	font-family: var(--text-font);
	background: var(--inner);
}

.select {
	color-scheme: dark light;
}

#add-task {
	color: white;
	background: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
	border: 3px transparent;
	border-radius: 0.5rem;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 0.5rem;
	border: none;
	opacity: 0.8;
  transition: 0.2s ease-in-out, padding 0.3s linear;
}

#add-task:hover {
	cursor: pointer;
	opacity: 1;
  transition: 0.2s ease-in-out, padding 0.3s linear;
}
