<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% block head%}
    {% endblock %}
</head>
<body>
    <nav>
        <div><a href="/">WhiteBiscuit</a></div>
        <ul>
            <li><a class="{{explore}}"href="/">Explore</a></li>
            <li><a class="{{simulations}}"href="/">Simulations</a></li>
            <li><a class="{{learn}}"href="/">Learn</a></li>
            <li><a class="{{about}}"href="/">About</a></li>
        </ul>
    </nav>
    
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <!-- AUTORELOADER | TO BE DELETED LATER ON -->
    {% block body%}
    {% endblock %}

</body>
</html>