{% extends "base.html" %} {% block head%}

<title>Explore</title>
<link rel="stylesheet" href="/static/css/explore.css" />

{% endblock %} {% block body %}

<section id="content">
  <div class="common-container">
    <div class="content-container">
      <div class="header">
        <h1 class="header-text">Explore</h1>
      </div>

      <div class="sub-container">
        <div class="image-container">
          <img src="/static/svg/laptop-guy.svg" alt="img" />
        </div>
        <div class="text-container">
          <h2 class="text-header">Text-Header</h2>
          <p class="text-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
            laboriosam tempora sit officiis esse eum quibusdam reiciendis saepe
            aliquam excepturi voluptates consectetur sequi, explicabo animi unde
            quae ab praesentium ea amet, obcaecati iste atque dolor asperiores
            harum. Dolores, voluptas! Blanditiis.
          </p>
          <a class="btn" href="/">yoquack</a>
        </div>
      </div>

      <div class="sub-container">
        <div class="image-container">
          <img src="/static/svg/laptop-guy.svg" alt="img" />
        </div>
        <div class="text-container">
          <h2 class="text-header">Text-Header</h2>
          <p class="text-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
            laboriosam tempora sit officiis esse eum quibusdam reiciendis saepe
            aliquam excepturi voluptates consectetur sequi, explicabo animi unde
            quae ab praesentium ea amet, obcaecati iste atque dolor asperiores
            harum. Dolores, voluptas! Blanditiis.
          </p>
          <a class="btn" href="/">yoquack</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}