{% extends "base.html" %}
{% block head %}
<title>Tools for your learning</title>
<link rel="stylesheet" href="/static/css/learn.css">
{% endblock %}

{% block body %}
<section class="super-container">
    <div class="main-container">
        <div class="box-card">
            <div class="img"><img src="/static/svg/laptop-guy.svg" alt="img"></div>
            <div class="text">
                <p> Tinkercad is a free, easy-to-use app for 3D design, electronics, and coding. It's used by teachers,
                    kids, hobbyists,
                    and designers to imagine, design, and make anything! Users can quickly learn how to use the Tinkercad
                    software
                    through basic tutorial lessons that focus on the basics of the Tinkercad tool. It is a great tool for
                    simplistic
                    designs.
                </p>
            </div>
        </div>
        <div class="box-card">
            <div class="img"><img src="/static/svg/laptop-guy.svg" alt="img"></div>
            <div class="text">
                <p> Tinkercad is a free, easy-to-use app for 3D design, electronics, and coding. It's used by teachers,
                    kids, hobbyists,
                    and designers to imagine, design, and make anything! Users can quickly learn how to use the Tinkercad
                    software
                    through basic tutorial lessons that focus on the basics of the Tinkercad tool. It is a great tool for
                    simplistic
                    designs.
                </p>
            </div>
        </div>
        <div class="box-card">
            <div class="img"><img src="/static/svg/laptop-guy.svg" alt="img"></div>
            <div class="text">
                <p> Tinkercad is a free, easy-to-use app for 3D design, electronics, and coding. It's used by teachers,
                    kids, hobbyists,
                    and designers to imagine, design, and make anything! Users can quickly learn how to use the Tinkercad
                    software
                    through basic tutorial lessons that focus on the basics of the Tinkercad tool. It is a great tool for
                    simplistic
                    designs.
                </p>
            </div>
        </div>
        <div class="box-card">
            <div class="img"><img src="/static/svg/laptop-guy.svg" alt="img"></div>
            <div class="text">
                <p> Tinkercad is a free, easy-to-use app for 3D design, electronics, and coding. It's used by teachers,
                    kids, hobbyists,
                    and designers to imagine, design, and make anything! Users can quickly learn how to use the Tinkercad
                    software
                    through basic tutorial lessons that focus on the basics of the Tinkercad tool. It is a great tool for
                    simplistic
                    designs.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}