<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Biscuit</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="/static/css/scrollbar.css">
</head>
<body>
    <section id="super-container">
        <div class="login">
            <div class="login-container">
                <div class="login-header">
                    <div class="login-logo">
                        <img src="/static/img/logo.png" alt="">
                    </div>
                </div>
                <div class="login-body">
                    <div class="login-form">
                        <div class="login-form-header">
                            <h1>Login</h1>
                        </div>
                        <div class="login-form-body">
                            <form action="/login" method="post">
                                <div class="login-form-input">
                                    <input type="text" name="username" placeholder="Username">
                                </div>
                                <div class="login-form-input">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login-form-input">
                                    <input type="submit" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>