<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White Biscuit</title>
    <link rel="stylesheet" href="/static/css/login_register.css">
</head>
<body>
    <section id="super-container">
        <div class="login">
            <div class="login-container">
                <div class="login-header">
                    <div class="login-logo">
                        <img src="/static/img/logo.png" alt="">
                    </div>
                </div>
                <div class="login-body">
                    <div class="login-form">
                        <div class="login-form-header">
                            <h1>Register</h1>
                        </div>
                        <div class="login-form-body">
                            <form action="/register" method="post">
                                <div class="login-form-input">
                                    <input class="input text-field" type="text" name="username" placeholder="Username">
                                </div>
                                <div class="login-form-input">
                                    <input class="input text-field" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login-form-input">
                                    <input class="input submit" type="submit" value="Register">
                                </div>

                                {% if error %}
                                    <div class="error" style="color: red;">This username already exists!</div>
                                {% else %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>